/* assets/custom.css */

/* Style pour le titre principal */
h1.title {
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 40px;
}

/* Style pour les sous-titres */
h3.subtitle {
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: semibold;
    font-size: 20px;
}

/* Style pour les paragraphes */
p.text {
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 16px;
}

/* Style pour les informations en italique */
p.italic {
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 10px;
    font-style: italic;
}

/* Style pour le logo */
img.logo {
    height: 60px;
    margin-right: 10px;
}

/* Style pour le slider */
.custom-slider .rc-slider-track {
    background-color: #ea4b3c !important;
}

.custom-slider .rc-slider-handle {
    border-color: #EE776E !important;
}

.custom-slider .rc-slider-rail {
    background-color: #f1958f !important;
}

/* Style pour les marqueurs du slider 
.custom-slider .rc-slider-mark-text {
    color: #222222 !important;} Change la couleur du texte des marqueurs */

.custom-slider .rc-slider-dot {
    border-color: #ea4b3c !important;  
    background-color: #ffffff !important;  
}

.custom-slider .rc-slider-tooltip {
    background-color: #ea4b3c !important;  
    border-color: #ea4b3c !important;  
    color: #ffffff !important;  
}

/* Style pour les titres des dropdowns */
.custom-dropdown-label {
    font-family: 'Roboto Slab', sans-serif; 
    font-size: 16px;  
    color: #222222;  
}

/* Style pour les valeurs des dropdowns */
.custom-dropdown .Select-control {
    font-family: 'Roboto Slab', sans-serif;  
    font-size: 14px;  
    color: #222222;  
}

/* Style pour les cases à cocher */
.custom-checkbox .form-check-input:checked {
    background-color: #ea4b3c;  /* Change la couleur de fond de la case cochée */
    border-color: #ea4b3c;  /* Change la couleur de la bordure de la case cochée */
}

.custom-checkbox .form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(234, 75, 60, 0.25);  /* Change la couleur de l'ombre de la case cochée */
}

.custom-checkbox .form-check-label {
    font-family: 'Roboto Slab', sans-serif;  /* Change la police du label */
    font-size: 14px;  /* Ajustez la taille de la police selon vos besoins */
    color: #222222;  /* Change la couleur du texte du label */
}

/* Style pour le bouton avec coins arrondis et changement de couleur au survol */
#export-button {
    border-radius: 12px;  /* Coins arrondis */
    padding: 10px 20px;  /* Padding */
    background-color: #EA4B3C;  /* Couleur de fond */
    color: white;  /* Couleur du texte */
    border: none;  /* Pas de bordure */
    cursor: pointer;  /* Curseur en forme de pointeur */
    transition: background-color 0.3s;  /* Transition pour le changement de couleur */
}

/* Style pour le tableau */
.data-table {
    border-radius: 10px;
    overflow: hidden;
}

/* Style pour l'en-tête du tableau */
.data-table .dash-header {
    background-color: #ea4b3c;
    color: white;
    font-weight: bold;
}

/* Style pour les cellules du tableau */
.data-table .dash-cell {
    color: #222222;
}

/* Style pour les flèches de pagination */
.data-table .dash-pagination .previous-page, 
.data-table .dash-pagination .next-page {
    background-color: #ea4b3c;
    color: white;
    border-radius: 5px;
}

#export-button:hover {
    background-color: #0056b3;  /* Couleur de fond au survol */
}