/* assets/custom.css */

/*
Utilisation de rem pour la taille de police :

    font-size: 2.5rem; pour le titre principal.
    font-size: 1.25rem; pour les sous-titres.
    font-size: 1rem; pour les paragraphes.
    font-size: 0.625rem; pour les informations en italique.
    font-size: 1rem; pour les titres des dropdowns.
    font-size: 0.875rem; pour les valeurs des dropdowns et les labels des cases à cocher.

Utilisation de vh pour les marges :

    margin-bottom: 3vh; pour le titre principal.
    margin-bottom: 1vh; pour les sous-titres et les paragraphes.
    margin-bottom: 2vh; pour les informations en italique.

Utilisation de rem pour le padding :

    padding: 0.625rem 1.25rem; pour le bouton d'exportation.
    padding: 0.625rem; pour les cartes personnalisées.

Conservation de px pour les dimensions fixes :

    height: 60px; et margin-right: 10px; pour le logo.
    border-radius: 15px; pour les cartes personnalisées et les bannières. 
*/

/* Style pour le titre principal */
h1.title {
    text-align: left;
    margin-bottom: 3vh;  
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #222222;
    font-size: 3.5rem;  
}

/* Style pour les sous-titres */
h3.subtitle {
    text-align: left;
    margin-bottom: 2vh;  
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 1.50rem;  
}

/* Style pour les paragraphes */
p.text {
    text-align: left;
    margin-bottom: 1vh;  
    font-family: 'Montserrat', serif;
    font-weight: normal;
    font-size: 1rem;  
}

/* Style pour les informations en italique */
p.italic {
    text-align: left;
    margin-bottom: 3vh;  
    font-family: 'Montserrat', serif;
    font-weight: normal;
    font-size: 0.625rem;  
    font-style: italic;
}

.kpi-headers {
    font-family: 'Roboto Slab', sans-serif; 
    font-size:1rem;  
    color: #222222;  
    font-weight: bold;
    text-align: center;  
}


.kpi-headers-italic {
    text-align: center;  
    font-size: 1rem;  
    margin-bottom: 1vh;  
    color: #EA4B3C;  
    font-style: italic;  
}


/* Style pour le logo */
img.logo {
    height: 60px;  
    margin-right: 10px;  
}

/* Style pour le slider */
.custom-slider .rc-slider-track {
    background-color: #ea4b3c !important;
}

.custom-slider .rc-slider-handle {
    border-color: #EE776E !important;
}

.custom-slider .rc-slider-rail {
    background-color: #f1958f !important;
}

/* Style pour les marqueurs du slider */
.custom-slider .rc-slider-mark-text {
    color: #222222 !important;
}

.custom-slider .rc-slider-dot {
    border-color: #ea4b3c !important;  
    background-color: #ffffff !important;  
}

.custom-slider .rc-slider-tooltip { 
    border-color: #ea4b3c !important;  
    color: #ffffff !important;  
}

.custom-slider {
    margin-top: 1.25vh;
    margin-bottom: 1vh;
}

/* Style pour les titres des dropdowns */
.custom-dropdown {
    margin-bottom: 1vh;
}

.custom-dropdown-label {
    font-family: 'Roboto Slab', sans-serif; 
    font-size: 1rem;  
    color: #222222;  
}

/* Style pour les valeurs des dropdowns */
.custom-dropdown .Select-control {
    font-family: 'Montserrat', sans-serif;  
    font-size: 0.875rem;  
    color: #222222;  
}

/* Modifier la couleur du contour des dropdowns lorsqu'ils sont activés */
.custom-dropdown .Select.has-value.is-clearable.is-searchable.Select--single:focus-visible {
    outline-color: #ea4b3c;
}

/* Modifier la couleur du contour des dropdowns lorsqu'ils sont en focus */
.custom-dropdown .is-focused:not(.is-open)>.Select-control {
    border-color: #ea4b3c;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 3px rgba(234, 75, 60, .1);
}

/* Style pour les cases à cocher */
.custom-checkbox .form-check-input:checked {
    background-color: #ea4b3c;  
    border-color: #ea4b3c;  
}

.custom-checkbox .form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(234, 75, 60, 0.25);  
    border-color: #ea4b3c;  
}

.custom-checkbox .form-check-label {
    font-family: 'Roboto Slab', sans-serif;  
    font-size: 0.875rem;  
    color: #222222;  
}

.custom-checkbox {
    margin-bottom: 0.5vh;
}

/* Style pour les inputs */
.custom-input {
    border-radius: 10px; 
    border-color: #ea4b3c; 
    width: 70px;  
}

/* ajout d'un fond générique pour kpi */
.custom-card {
    background-color: white;
    border-radius: 15px;  
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    padding: 0.625rem;  
    height: 100%;
}

/* ajout d'un fond générique pour la banière */
.banner {
    background-color: #0f3250; 
    border-radius: 15px; 
    padding: 0; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

/* ajout d'une marge régulière */
.custom-margin {
    margin-bottom: 1vh;
}

/* box contenair */
.custom-map-contenair {
    height: 50vh;
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 2vh;
}

/* Style pour les graphiques */
.pie-chart {
    height: 25vh;  
    margin-bottom: 2vh;  
}

.bar-chart {
    height: 40vh;  
    width: 100%;  
}

.sankey-chart {
    height: 60vh;
    width: 100%;
    margin: 0; 
    padding: 0;  
}